.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #b9b9b9;
    border-radius: 10px;
    height: 40vh;
    width: 30%;
    padding: 10px;
}
.create-account{
    border-left: black 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}
.alert{
    width: 90%;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    height: 70%;
    flex-direction: column;
    gap: 10px 1px;
    align-items: center;
    justify-content: center;
}
input#username{
    width: 223px;
}
img{
    height: 50%;
    width: 60%;
    border-radius: 700px;
}