* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 80%;
    height: 60%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}

.back-adm{
    width: 150px;
    height: 80px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary{
    width: 150px;
    height: 80px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
li.success{
    background-color: green;
}
li.error{
    background-color: red;
}