* {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen';
    text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  background: radial-gradient(ellipse at center top, #4e7a89 0%, #2e3441 100%);
}
body p{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    left:0;
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.box-container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 10, 0.8);
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    width: 350px;
    height: auto;
}
.box-img-login{
    display:flex;
    align:items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.box-img-login svg{
    animation: flip 7s linear infinite;
    transform-origin: center;
}
@keyframes flip {
    0%, 100% {
        transform: perspective(800px) rotateY(0deg);
    }
    50% {
        transform: perspective(800px) rotateY(360deg);
    }
}
.box-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
form{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-center: center;
    flex-direction: column;
}
.input-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
label{
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    margin: 10px 0px 10px 0px;
}
.field-user,
.field-password{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    margin: 10px 0px 10px 0px;
    outline: none;
}
.button-form{
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
}
button{
    background-color: #538a9a;
    color: white;
    border: none;
    height: 40px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 6rem;
}
.demo{
    display: flex;
    width: 100%;
    border: 1px solid black;
    justify-content: space-around;
    width: 310px;
}
.txt-demo{
    position: relative;
}
.adm,
.employee{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 0px 5px 0px;
}
.demo button{
    height: 30px;
    width: 4rem;
    font-size: 10px;
    background-color: #538a8b;
}