<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Title</title>
</head>
<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        li.success{
            background-color: green;
        }
    </style>
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert" role="alert">
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <li class="alert alert-danger">{{ message }}</li>
                            {% else %}
                                <li class="{{ category }}"> {{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
<h1> All Employee </h1>
    <table>
        <thead>
            <tr>
                <th>NIF</th>
                <th>NAME</th>
                <th>POSITION</th>
                <th>CONTACT</th>
                <th>EMAIL</th>
                <th>USER</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.nif }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.position }}</td>
                <td>{{ user.contact }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.user }}</td>
                <td>
                    <a href="{{ url_for('edit_user', user=user.user) }}">Edit Employee</a>
                </td>
                <td>
                    <a href="{{ url_for('delete_user', user=user.user) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <a href="{{ url_for('administration') }}">
            <button>
                Back to Administration
            </button>
        </a>
</body>
</html>