<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_css/style_all_users.css') }}">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="all-table">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="alert" role="alert">
                <ul class="flash-messsages">
                    {% for category, message in messages %}
                        {% if category == 'success' %}
                            <li class="alert alert-success">{{ message }}</li>
                        {% elif category == 'error' %}
                            <li class="alert alert-danger">{{ message }}</li>
                        {% else %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
        <h1>Your Trips</h1>
        <div class="search-bar" style="border: 1px solid black; border-radius: 5px; background-color: yellow; padding: 5px; margin-bottom: 5px;">
            <form method="get" action="{{ url_for('see_all_trips_user') }}">
                <label for="search">FILTER</label>
                <input type="text" id="search" name="search_query" placeholder="Type Here...">
                <label><input type="checkbox" name="search_by_plate">Plate</label>
                <label><input type="checkbox" name="search_all">All</label>
                <button type="submit">Filter!</button>
            </form>
        </div>
            <div class="all-table-form">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PLATE</th>
                            <th>DATE</th>
                            <th>CHECK-IN</th>
                            <th>CHECK-OUT</th>
                            <th>CHECK-IN TIME</th>
                            <th>CHECK-OUT TIME</th>
                            <th>CHECK-IN MILES</th>
                            <th>CHECK-OUT MILES</th>
                            <th>CHECK-IN FUEL</th>
                            <th>CHECK-OUT FUEL</th>
                            <th>SERVICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if trips_current_user %}
                            {% for trip in trips_current_user %}
                            <tr>
                                <td>{{ trip.id }}</td>
                                <td>{{ trip.plate }}</td>
                                <td>{{ trip.trip_date}}</td>
                                <td>{{ trip.departure_place }}</td>
                                <td>{{ trip.arrive_place }}</td>
                                <td>{{ trip.departure_time }}</td>
                                <td>{{ trip.arrive_time }}</td>
                                <td>{{ trip.departure_miles }}</td>
                                <td>{{ trip.arrive_miles }}</td>
                                <td>{{ trip.departure_fuel }}</td>
                                <td>{{ trip.arrive_fuel }}</td>
                                <td>{{ trip.service }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="12">Nenhum resultado encontrado.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        <a href="{{ url_for('start_services') }}">
            <button class="btn-back">Back to Your Profile</button>
        </a>
    </div>
</div>
</body>
</html>