<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_css/style_all_users.css') }}">
    <title>Title</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="alert" role="alert">
                <ul class="flash-messsages">
                    {% for category, message in messages %}
                        {% if category == 'success' %}
                            <li class="alert alert-success">{{ message }}</li>
                        {% elif category == 'error' %}
                            <li class="alert alert-danger">{{ message }}</li>
                        {% else %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
<div class="container">
    <div class="all-table">
        <h1>All Trips</h1>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
            </table>
    </div>
</div>
</body>
</html>