<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_css/style_new_and_edit.css')}}">
    <title>Edit Employee</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert" role="alert">
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            {% if category == 'success' %}
                                <li class="alert alert-success">{{ message }}</li>
                            {% elif category == 'error' %}
                                <li class="alert alert-danger">{{ message }}</li>
                            {% else %}
                                <li class="{{ category }}"> {{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
<div class="container">
    <h1>Edit Employee</h1>
      <form method="POST" action="{{ url_for('edit_user', user=user_to_edit.user) }}">
        {{ edit_form.hidden_tag() }} <!-- Security field to the form, to validate -->
            <div class="form-group">
                <label>{{ edit_form.name.label }}</label>
                {{ edit_form.name(class="form-control", placeholder="NEW Name") }}
            </div>
            <div class="form-group">
                <label>{{ edit_form.position.label }}</label>
                {{ edit_form.position(class="form-control", placeholder="NEW Job") }}
            </div>
            <div class="form-group">
                <label>{{ edit_form.country_code.label }}</label>
                <div class="input-group">
                    {{ edit_form.country_code(class="form-control input-group-prepend custom-dropdown") }}
                    {{ edit_form.contact(class="form-control", placeholder="NEW Phone") }}
                </div>
                {% for error in edit_form.contact.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>{{ edit_form.email.label }}</label>
                {{ edit_form.email(class="form-control", placeholder="NEWemail@email.com") }}
                {% for error in edit_form.email.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>{{ edit_form.confirm_email.label }}</label>
                {{ edit_form.confirm_email(class="form-control", placeholder="NEWemail@email.com") }}
                {% for error in edit_form.confirm_email.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>{{ edit_form.password.label }}</label>
                {{ edit_form.password(class="form-control", placeholder="NEW Password") }}
                {% for error in edit_form.password.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>{{ edit_form.confirm_password.label }}</label>
                {{ edit_form.confirm_password(class="form-control", placeholder="NEW Password") }}
                {% for error in edit_form.confirm_password.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        <div class="btns">
          <button type="submit" class="btn-primary">Update</button>
        </div>
      </form>
    <a href="{{ url_for('see_all_users') }}">
                <button class="back-adm">
                    Back to List of All User
                </button>
            </a>
</div>
</body>
</html>