<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon-company.png') }}" type="image/xx-icon">
    <title>Register Now</title>
    <!-- Google Fonts(OXYGEN)-->
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <!-- Import Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_css/style_new_and_edit.css')}}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert" role="alert">
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            {% if category == 'success' %}
                                <li class="alert alert-success">{{ message }}</li>
                            {% elif category == 'error' %}
                                <li class="alert alert-danger">{{ message }}</li>
                            {% else %}
                                <li class="{{ category }}"> {{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
    {% endwith %}
    <div class="container">
        <div class="box-container">
            <div class="box-img-new-employee">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="white" class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>

            <div class="box-form">
                <form action="{{ url_for('create_account') }}" method="POST">
                    {{ create_form.hidden_tag() }} <!-- Security field to the form, to validate -->
                    <div class="form-group">
                        <label>{{ create_form.nif.label }}</label>
                        {{ create_form.nif(class="form-control", placeholder="Tax Identification Number") }}
                    </div>
                    {% for error in create_form.nif.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    <div class="form-group">
                        <label>{{ create_form.name.label }}</label>
                        {{ create_form.name(class="form-control", placeholder="Name") }}
                    </div>
                    <div class="form-group">
                        <label>{{ create_form.position.label }}</label>
                        {{ create_form.position(class="form-control", placeholder="Job") }}
                    </div>
                    <div class="form-group">
                        <label>{{ create_form.contact.label }}</label>
                        <div class="input-group">
                            {{ create_form.contact(class="form-control", placeholder="+351") }}
                        </div>
                    </div>
                    {% for error in create_form.contact.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    <div class="form-group">
                        <label>{{ create_form.email.label }}</label>
                        {{ create_form.email(class="form-control", placeholder="email@email.com") }}
                    </div>
                    {% for error in create_form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    <div class="form-group">
                        <label>{{ create_form.confirm_email.label }}</label>
                        {{ create_form.confirm_email(class="form-control", placeholder="email@email.com") }}
                    </div>
                    {% for error in create_form.confirm_email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    <div class="form-group">
                        <label>{{ create_form.user.label }}</label>
                        {{ create_form.user(class="form-control", placeholder="User") }}
                    </div>
                    <div class="form-group">
                        <label>{{ create_form.password.label }}</label>
                        {{ create_form.password(class="form-control", placeholder="* * * * * * * *") }}
                    </div>
                    {% for error in create_form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    <div class="form-group">
                        <label>{{ create_form.confirm_password.label }}</label>
                        {{ create_form.confirm_password(class="form-control", placeholder="* * * * * * * *") }}
                    </div>
                    {% for error in create_form.confirm_password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    <div class="button-form">
                        <button type="submit" class="btn-primary">Create Account</button>
                    </div>
                </form>
                <div class="box-bottom">
                    <a href="{{ url_for('administration') }}">
                        <button class="back-adm">
                            Back to Administration
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                        </svg>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>