<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_css/style_start_services.css')}}">
    <title>Title</title>
</head>
<body>
    <main>
        <div class="painel" style="flex-direction: column;">
            <h1>BEM VINDO(A) {{ user.name }}</h1>
                <a href="{{ url_for('service') }}">
                    <button type="button" class="button-default" style="font-size: 2rem;"> START WORK! </button>
                </a>
            <div class="data" style="margin-top: 10px;">
                <h2>Seus dados são:</h2>
                <ul>
                    <li>NIF:{{ user.nif }}</li>
                    <li>CONTATO:{{ user.contact }}</li>
                    <li>EMAIL:{{ user.email }}</li>
                    <li>CARGO:{{ user.position }}</li>
                    <li>TELEFONE:{{ user.contact }}</li>
                </ul>
            </div>
        <a href="{{ url_for('logout') }}">
            <button type="button" class="button-default"> Logout </button>
        </a>
        </div>
    </main>
</body>
</html>